// define the path to the reference file

//params.ref="/scratch/work/courses/BI7653/hw3.2023/hg38/Homo_sapiens.GRCh38.dna_sm.primary_assembly.normalized.fa"

// i want to use the same genome from the rna-seq pipeline

params.ref='/scratch/rj931/tf_sle_project/GRCh38.primary_assembly.genome.fa'


//define the directory that contains the index files

params.dir_ref_files='/scratch/work/courses/BI7653/hw3.2023/hg38/'

// define the path to the pair-end reads


params.input= []      
//params.read_f=$read_f
//params.read_r=$read_r

// *_{1,2}*.fastq.gz


// define the path to the text containing the reads names

params.file_names="/scratch/work/courses/BI7653/hw2.2023/week2_fastqs.txt"


// define the executor and resources

process{
executor='slurm'
cpus=10
memory={15.GB*task.attempt}
time={30.min*task.attempt}
withName:fastp{time='1.h'}
withName:bwa_index{time='10.h'}
withName:bwa{time='12.h'}
withName:bg_fastp{time='1.h'}
withName:bg_bwa{time='3.h'}
withName:merge_tech_replicates{time='3.h'}
withName:merge_bg_replicates{time='3.h'}
withName:make_txt_files{time='3.h'}
}
